input {
    margin: 10px;
}
table,tr,td {
    border: 1px #000000 solid !important;
}
td{
    text-align:right;
}
th{
    text-align:center;
}
.youbitd {
    text-align:center;
}
.graph {
    position: relative; /* IE is dumb */
    width: 100px;
    padding: 2px;
}
.graph .bar {
    display: block;
    position: relative;
    background: #409890;
    text-align: left;
    color: black;
    height: 2em;
    line-height: 2em;
}
.graph .bar span {
    position: absolute; left: 1em;
}
.itsuauthor{
    width:95%;
    text-align: right;    
}